<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="..public/Home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="Home.css">
</head>
<style>

</style>

<body>
    <div class="con">
        <nav>
            <h1>SupplyChainAI</h1>
            <ul>
         
                <li><a href="/"><i class="fa-solid fa-house" id="one"></i> Home</a></li>
                <li><a href="/Dashboard"><i class="fa-solid fa-gauge" id="two"></i> Dashboard</a></li>
                <li><a href="/inventory"><i class="fa-solid fa-truck-ramp-box" id="three"></i> Inventory</a></li>
                <li><a href="/Integration"><i class="fa-solid fa-radiation" id="four"></i> Integrations</a></li>
                <li><a href="/setting"><i class="fa-solid fa-gear" id="four"></i> Setting</a></li>
            </ul>
        </nav>
        <div class="right">
            <div class="user">Welcome, User &nbsp; <i class="fa-solid fa-circle-user"></i></div>
            <h2>Welcome To Supply Chain Optimizer </h2>
            <p>Your Integrated AI-powered for modern supply chain management</p>

            <div class="main-box">
                <div class="main-left"></div>
                <div class="main-right">
                    <div class="mb1">
                        <h2>Active Suppliers</h2>
        
                <h2>0</h2>
                    </div>
                    <div class="mb2">
                        <h2>Pending Orders</h2>
                        <h2>0</h2>
                    </div>
                    <div class="mb3">
                        <h3>
  
                            <i class="fa-solid fa-arrow-up-right-dots"></i></h3>
                        <h2>Forcasted Growth</h2>
                        <h2>0 %</h2>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>