<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>SupplyChainAI</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
   integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
   crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
   <link rel="stylesheet" href="/Style/style.css">
</head>
 

<body>
   <div class="container">
      <!-- Menu Bar -->
      <div class="menubar">
          <button id="menu-bar">
              <i class="ri-menu-line"></i> 
          </button>
      </div>
  
      <!-- Sidebar for small screen size --> 
      <div id="sidebar1">
          <div class="sidebar1-header">
              <h1 class="logo1">Supply <span>Chain</span></h1>
              <button id="close-sidebar"><i class="ri-close-line"></i></button>
          </div>
  
          <ul class="sidebar1-links">
              <li class="sidebar1-link"><i class="ri-home-line"></i><a href="/">Home</a></li>
              <li class="sidebar1-link"><a href="/Dashboard"><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
              <li class="sidebar1-link"><i class="ri-calendar-view"></i><a href="ineventory">Inventory</a></li>
              <li class="sidebar1-link"><i class="fa-solid fa-cart-shopping"></i><a href="/order">Order</a></li>
              <li class="sidebar1-link"><i class="ri-truck-line"></i><a href="/logistics">Logistics</a></li>
              <li class="sidebar1-link"><i class="ri-percent-line"></i><a href="/sales">Sales</a></li>
              <li class="sidebar1-link"><i class="ri-settings-2-line"></i><a href="/setting">Setting</a></li>
          </ul>
      </div>
  
      <!-- sidebar for large screen size -->
       <div id="sidebar2">
          <div class="sidebar2-logo">
              <h1 class="logo2">
                  Supply <span>Chain</span>
              </h1>
          </div>
  
          <ul class="sidebar2-links">
              <li class="sidebar2-link"><i class="ri-home-line"></i><a href="/">Home</a></li>
              <li class="sidebar1-link"><a href="/Dashboard"><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
              <li class="sidebar2-link"><i class="ri-calendar-view"></i><a href="/inventory">Inventory</a></li>
              <li class="sidebar2-link"><i class="fa-solid fa-cart-shopping"></i><a href="/order">Order</a></li>
              <li class="sidebar2-link"><i class="ri-truck-line"></i><a href="/logistics">Logistics</a></li>
              <li class="sidebar2-link"><i class="ri-percent-line"></i><a href="/sales">Sales</a></li>
              <li class="sidebar2-link"><i class="ri-settings-2-line"></i><a href="/setting">Setting</a>
              </li>
            </ul>
       </div>

<!-- inventory part -->
<div class="recent-orders">
   <h2>Recent Orders</h2>
   <table>
       <thead>
           <tr>
               <th>Product Name</th>
               <th>Product ID</th>
               <th>Product Number</th>
               <th>Payment</th>
               <th>Status</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td>Item A</td>
               <td>#12345</td>
               <td>10</td>
               <td>Paid</td>
               <td>Shipped</td>
           </tr>
           <tr>
               <td>Item B</td>
               <td>#12346</td>
               <td>5</td>
               <td>Pending</td>
               <td>Processing</td>
           </tr>
           <tr>
               <td>Item C</td>
               <td>#12347</td>
               <td>14</td>
               <td>Pending</td>
               <td>Processing</td>
           </tr>
           <tr>
            <td>Item D</td>
            <td>#12345</td>
            <td>10</td>
            <td>Paid</td>
            <td>Shipped</td>
        </tr>
        <tr>
            <td>Item E</td>
            <td>#12346</td>
            <td>5</td>
            <td>Pending</td>
            <td>Processing</td>
        </tr>
        <tr>
            <td>Item F</td>
            <td>#12347</td>
            <td>14</td>
            <td>Paid</td>
            <td>Shipped</td>
        </tr>
        <tr>
         <td>Item G</td>
         <td>#12345</td>
         <td>10</td>
         <td>Paid</td>
         <td>Shipped</td>
     </tr>
     <tr>
         <td>Item H</td>
         <td>#12346</td>
         <td>5</td>
         <td>Pending</td>
         <td>Processing</td>
     </tr>
     <tr>
         <td>Item I</td>
         <td>#12347</td>
         <td>14</td>
         <td>Paid</td>
         <td>Shipped</td>
     </tr>
     <tr>
      <td>Item j</td>
      <td>#12346</td>
      <td>5</td>
      <td>Pending</td>
      <td>Processing</td>
    </tr>
    <tr>
      <td>Item k</td>
      <td>#12347</td>
      <td>14</td>
      <td>Paid</td>
      <td>Shipped</td>
    </tr> 
        </tbody>
   </table>       
       </div>
       <script src="/Script/script.js"></script>
</body>

</html>