* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}

nav {
    width: 17%;
    height: 100vh;
    background-color:rgb(6, 69, 145);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;

}
nav a {
text-decoration: none;
}
#one:hover{
border:0.5px rgb(135, 132, 132);
box-shadow: 5px 5px 5px 2px rgb(255, 254, 254);
}
h1 {
    margin-top: 10px;
    color: white
}

ul {
    margin-top: 50px;
    align-items: center;

}

li {
    list-style: none;
    color: rgb(255, 240, 240);
    font-weight: bold;
    font-size: 20px;
    margin-left: -40px;
    margin-top: 40px;
   text-decoration: none;

}
li a{
    text-decoration: none;
    color: rgb(255, 240, 240);
}
li:hover{
    box-shadow: 1px 1px 1px white;
    padding:8px;
    transition: 0.2s ease-in-out;
}
i {
    margin-right: 5px;
}

.right {
    width: 100%;
    display: flex;

    flex-direction: column;
    background-color: aliceblue;
    height: 100vh;
}

.user {
    width: 1;
    background-color: white;
    color: black;
    height: 50px;
    border: 1px solid rgb(237, 219, 219);
    border-radius: 8px;
    ;
    margin: 10px 10px;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 20px;
    box-shadow: 10px 10px 10px white;
}

h2 {
    margin-top: 0.5rem;
    color: black;
    text-align: center;
    font-size: 2rem;
    ;
}

p {
    text-align: center;
    margin-top: 10px;
}

.main-box {
    width: 90%;
    height: 70vh;

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left {
    width: 50%;
    height: 70vh;
    background-color: blue;
}

.main-right {
    width: 50%;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mb1,
.mb2,
.mb3 {
    width: 80%;
    height: 22vh;
    border: 1px solid rgb(249, 244, 244);
    margin-top: 10px;
    background-color: aliceblue;
    box-shadow: 10px 5px 5px rgba(170, 168, 168, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-right :hover{
    box-shadow: 10px 5px 5px rgba(50, 49, 49, 0.3);
}